# Exercises one

In [17]:
sum_i=0
n =int(input("Enter a value for n: "))
for i in range(1, n , 2):
    sum_i += i + 3 
print("Sum for odd numbers is :", sum_i)

Enter a value for n: 5
Sum for odd numbers is : 10

In [15]:
prod_i=1
n =int(input("Enter a value for n: "))
for i in range(1, n , 1):
    prod_i =prod_i*(i + 3)
print("products for even numbers is :", prod_i)

Enter a value for n: 6
products for even numbers is : 6720

# Exercises Two

In [19]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
n = int(input("Enter the number of day you want: "))

if 0 <= n <= 6:
    print(f"The day is: {days[n]}")
else:
    print("I Please enter a number between 0 and 6.")

Enter the number of day you want: 3
The day is: Thursday

# Exercise Three

In [23]:
month = int(input("Enter the month number you want: "))
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if month in [0, 2, 4, 6, 7, 9, 11]: 
    print("The number of days is: 31")
elif month == 1:  
    print("The number of days is: 28")
elif month in [3, 5, 8, 10]:  
    print("The number of days is: 30")
else:
    print("A number must be between 0 and 11.")

Enter the month number you want: 10
The number of days is: 30

 # Exercise Four

In [24]:
name = input("Enter your name: ")

for i in range(3):
    print(name)

Enter your name: Telesphore
Telesphore
Telesphore
Telesphore

In [25]:
name = input("Enter your name: ")

i = 0
while i < 3:
    print(name)
    i += 1

Enter your name: Lucas
Lucas
Lucas
Lucas

# Exercise Five

In [26]:

a0 = int(input("Enter the first term (a0): "))
a1 = int(input("Enter the second term (a1): "))

fib = [a0, a1]

for i in range(2, 15):
    next_term = fib[i-1] + fib[i-2]
    fib.append(next_term)

print("The first 15 terms of the Fibonacci sequence are:")
for term in fib:
    print(term)

Enter the first term (a0): 0
Enter the second term (a1): 1
The first 15 terms of the Fibonacci sequence are:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

# Exercise Six

In [29]:
x0 = int(input("Enter the initial value x0: "))
x1 = int(input("Enter the initial value x1: "))

seq = [x0, x1]

for i in range(2, 30):
    next_term = (seq[i-1] + 6 * seq[i-2]) / 2  
    seq.append(next_term)

print("The first 30 terms of the sequence are:")
for term in seq:
    print(term)

Enter the initial value x0: 1
Enter the initial value x1: 2
The first 30 terms of the sequence are:
1
2
4.0
8.0
16.0
32.0
64.0
128.0
256.0
512.0
1024.0
2048.0
4096.0
8192.0
16384.0
32768.0
65536.0
131072.0
262144.0
524288.0
1048576.0
2097152.0
4194304.0
8388608.0
16777216.0
33554432.0
67108864.0
134217728.0
268435456.0
536870912.0

# Exercise 7

In [1]:
year = int(input("Enter a year: "))


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2000
2000 is a leap year.

In [2]:

year = int(input("Enter a year: "))

is_leap = year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

print(f"{year} is a leap year." if is_leap else f"{year} is not a leap year.")

Enter a year: 2014
2014 is not a leap year.

# Exercise eight

In [3]:
n = int(input("Enter a number n: "))
sum_squares = 0

for i in range(1, n+1):
    sum_squares += i ** 2

print(f"Sum of squares of the first {n} natural numbers is: {sum_squares}")

Enter a number n: 10
Sum of squares of the first 10 natural numbers is: 385

In [4]:
n = int(input("Enter a number n: "))
sum_squares = 0
i = 1

while i <= n:
    sum_squares += i ** 2
    i += 1

print(f"Sum of squares of the first {n} natural numbers is: {sum_squares}")

Enter a number n: 10
Sum of squares of the first 10 natural numbers is: 385

In [5]:
M = int(input("Enter a value M: "))
sum_squares = 0

for n in range(1, M+1):
    sum_squares += n ** 2
    if sum_squares >= M:
        print(f"The smallest n such that the sum of squares is at least {M} is: {n}")
        break

Enter a value M: 250
The smallest n such that the sum of squares is at least 250 is: 9

In [6]:
M = int(input("Enter a value M: "))
sum_squares = 0
n = 1

while sum_squares < M:
    sum_squares += n ** 2
    n += 1

print(f"The smallest n such that the sum of squares is at least {M} is: {n-1}")

Enter a value M: 250
The smallest n such that the sum of squares is at least 250 is: 9

# Exercises Nine

In [7]:
num = int(input("Enter a natural number: "))

print(f"The divisors of {num} are:")
for i in range(1, num+1):
    if num % i == 0:
        print(i)

Enter a natural number: 45
The divisors of 45 are:
1
3
5
9
15
45

In [8]:
num = int(input("Enter a natural number: "))

print(f"The prime factors of {num} are:")
i = 2
while num > 1:
    if num % i == 0:
        print(i)
        num //= i
    else:
        i += 1

Enter a natural number: 250
The prime factors of 250 are:
2
5
5
5

# Exercises Ten

In [10]:
n = int(input("Enter a number between 0 and 9: "))
N = int(input("Enter the maximum number N: "))

print(f"Multiplication table of {n} up to {N}:")
for i in range(1, N+1):
    print(f"{n} x {i} = {n * i}")

Enter a number between 0 and 9: 4
Enter the maximum number N: 65
Multiplication table of 4 up to 65:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80
4 x 21 = 84
4 x 22 = 88
4 x 23 = 92
4 x 24 = 96
4 x 25 = 100
4 x 26 = 104
4 x 27 = 108
4 x 28 = 112
4 x 29 = 116
4 x 30 = 120
4 x 31 = 124
4 x 32 = 128
4 x 33 = 132
4 x 34 = 136
4 x 35 = 140
4 x 36 = 144
4 x 37 = 148
4 x 38 = 152
4 x 39 = 156
4 x 40 = 160
4 x 41 = 164
4 x 42 = 168
4 x 43 = 172
4 x 44 = 176
4 x 45 = 180
4 x 46 = 184
4 x 47 = 188
4 x 48 = 192
4 x 49 = 196
4 x 50 = 200
4 x 51 = 204
4 x 52 = 208
4 x 53 = 212
4 x 54 = 216
4 x 55 = 220
4 x 56 = 224
4 x 57 = 228
4 x 58 = 232
4 x 59 = 236
4 x 60 = 240
4 x 61 = 244
4 x 62 = 248
4 x 63 = 252
4 x 64 = 256
4 x 65 = 260

# Exercise 11

In [11]:
print("Numbers between 0 and 40 that are multiples of 3, 7, or 11:")
for i in range(41):
    if i % 3 == 0 or i % 7 == 0 or i % 11 == 0:
        print(i)

Numbers between 0 and 40 that are multiples of 3, 7, or 11:
0
3
6
7
9
11
12
14
15
18
21
22
24
27
28
30
33
35
36
39

# Exercise 12

In [12]:
x = float(input("Enter a float number: "))


floor_x = int(x) if x >= 0 else int(x) - 1
print(f"The floor of {x} is: {floor_x}")

Enter a float number: 12.5
The floor of 12.5 is: 12

# Exercise 13

In [13]:
while True:
    x = float(input("Enter the x-coordinate (or type 'q' to quit): "))
    y = float(input("Enter the y-coordinate (or type 'q' to quit): "))
    
    if x == 0 and y == 0:
        print("The point is at the origin.")
    elif x == 0:
        print("The point lies on the y-axis.")
    elif y == 0:
        print("The point lies on the x-axis.")
    elif x > 0 and y > 0:
        print("The point is in the 1st quadrant.")
    elif x < 0 and y > 0:
        print("The point is in the 2nd quadrant.")
    elif x < 0 and y < 0:
        print("The point is in the 3rd quadrant.")
    else:
        print("The point is in the 4th quadrant.")
    
    if input("Do you want to enter another point? (y/n): ").lower() != 'y':
        break

Enter the x-coordinate (or type 'q' to quit): 5
Enter the y-coordinate (or type 'q' to quit): -4
The point is in the 4th quadrant.
Do you want to enter another point? (y/n): 2

# Exercise 14